:root{
    --bg : linear-gradient(135deg, #0a0f3d, #5323a6, #8a1f7a);
    --todo-bg : White; 
    --input-bg : #dadada;
}

.container-fluid{
    background: var(--bg);
    height : 100vh;
    width: 100vw;
    font-family: poppins;

}
.Todo-container{
    margin-top: 5rem;
    border-radius: 30px;
    background-color: var(--todo-bg);
}
.heading{
    font-size: 20px;


}
.input{
    background-color: var(--input-bg);
    font-size: 12px;
    border-radius: 20px;
    color: #BBBCB6
}
.btn{
    border-radius : 20px;
}